<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developer.sdc2018.samsungdex.drawingappfordex">


    <!--Muti-window setting :` android:resizeableActivity="true" -->
    <!--Congiguration setting : it needs to avoid restarting the app during the switching device to DeX mode or other case.
     android:configChanges="colorMode|density|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|keyboardHidden|keyboard"-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.developer.sdc2018.samsungdex.drawingappfordex.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            >

            <!--Layout minimum size set in DeX mode -->

            <!--Layout minimum size set in DeX mode -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Keep alive settings -->

        <!--Keep alive settings -->

        <!-- app launch size set in DeX mode -->

        <!-- app launch size set in DeX mode-->
    </application>

</manifest>